*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    background-color: #051937;
 height: 100vh;
    background-size: cover;
    background-position: center;
    color: azure;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    flex-direction: column;
}
.input-blk
{
    margin-top: 30px;
    margin-bottom: 1rem;
    width: 80%;
}
.input-blk input{
    width: 100%;
    height: 2.5rem;
    border-radius:6px;
    padding: 14px;
    font-weight: bold;
}

.card{
    width: 80%;
    height :3.5rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    color: black;
}
#card1{
    background-color: orangered;

}
#card2{
    background-color: greenyellow;
}
#card3{
    background-color: skyblue;
}
.card-block{
    padding: 5px;
}
#gramsOutput ,#KgOutput ,#ozOutput{
    width: 250px;
}
#swap-btn1,#swap-btn2,#swap-btn3,#resetbtn1,#resetbtn2,#resetbtn3{
    background-color:#051937;
    color: white;
    /* font-weight: bold; */
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#resetBtn{
    width: 80%;
    height: 2rem;
    margin-bottom:1rem;
    background-color: transparent;
    border: 1px solid white;
    color: aliceblue;
    border-radius:5px ;
    cursor: pointer;
}

@media screen and (min-width: 380px) {

    /* body{ */
        /* background-size: 100% 100%; */

    /* } */
    body{
        background: 100% 100%;

    
    }
.wrapper{
    width: 100vw;
    height: 100vh;



}
}